# startup scripts
remaps & # Remap capslock and escape
multimonitor &

# set wallpaper
# setbg &
# random wallpaper
feh --bg-fill --no-fehbg --randomize /home/abijith/Pictures/wallpaper/* &


# startup Apps
slack &
batsignal -b # battery warning
clight &
